*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  margin: 133px 30px 133px 30px; 
}

.search-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.title {
  margin-bottom: 28px;
  font-family: "Oswald", "Arial", sans-serif; 
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item {
  margin-bottom: 29px;
}

.content__list-item:last-child{ 
  margin-bottom: 0px; 
} 

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  height: 107px;
  align-items: start;
}

.content__video-card-description-container {
  padding-top: 2px;
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  align-self: center;
} 

.search-form__fieldset-title {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", "Arial", sans-serif; 
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  padding-left: 5px;
}

.content__accent {
  color:rgb(84, 80, 80);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.content__video-card-title {
  color: rgb(255, 255, 255);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", "Arial", sans-serif; 
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  letter-spacing: 0%;
  text-align: left;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  color: rgb(255, 255, 255);
  font-family: "Fira Sans Condensed", "Arial", sans-serif; 
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  margin-top: 25px;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 399px;
  height: 34px;
}

.search-form__fieldset {
  border: none;
  padding-bottom: 5px;
}

.search-form__label {
  width: fit-content;
}

.search-form__textfield {
  background-color: transparent;
  appearance: none;
  min-width: 225px;
  min-height: 27px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", "Arial", sans-serif; 
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
}

.search-form__checkbox-list {
  padding-left: 7px;
}

.search-form__textfield:active {
  border: 1px solid rgb(255, 255, 255);
}

.search-form__textfield:focus {
  border: none; 
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid rgb(255, 255, 255);
  outline-offset:1px;
}

.search-form__label .search-form__pseudo-checkbox {
  box-sizing: border-box;
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid rgb(255, 255, 255);
  vertical-align: middle;
  cursor: pointer;
}

.search-form__label-text {
  margin-right: 10px;
}

input[type="checkbox"]:checked + span {
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
  background: rgb(255, 255, 255);
  margin: auto;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(84, 80, 80);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-sizing: border-box;
  outline: 1px solid rgb(255, 255, 255);
  outline-offset: 2px;
}

.content__card-link:hover{
  text-decoration: underline;
}

.content__card-link_current{
  background: rgb(84, 80, 80);
  text-decoration: none;
}

.content__card-link:active{
  background: rgb(84, 80, 80);
  text-decoration: none;
}

.content__card-link:focus{
  outline: none;
}

.content__card-link:focus-visible{
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}
